services:
  traefik:
    image: "traefik:v2.6"
    container_name: "traefik-yoni"
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=yoni-traefik-net"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - traefik-net
    restart: unless-stopped

networks:
  traefik-net:
    name: yoni-traefik-net
    driver: bridge
